# Azure Document Intelligence
AZURE_ENDPOINT=
AZURE_KEY=

# AWS Configuration
AWS_REGION=us-east-1
AWS_BEDROCK_MODEL_ID=anthropic.claude-3-sonnet-20240229-v1:0

# CORS Configuration (comma-separated list of allowed origins)
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,https://feat-userflow-build.d8te3teoihvhd.amplifyapp.com

OPENAI_API_KEY=skasdf

LANGFUSE_SECRET_KEY=skasdf
LANGFUSE_PUBLIC_KEY=sk-
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
LANGFUSE_TRACING_ENABLED=true



AWS_ACCESS_KEY_ID=sk
AWS_SECRET_ACCESS_KEY=sk
AWS_SESSION_TOKEN=sk


DB_NAME="leapx_db"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="postgres" # localhost for local
DB_PORT="5432" # 5434

SMTP_HOST=relll.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

JWT_SECRET_KEY="test123"

MODE="development"

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

JWT_SECRET_KEY="test123"

STORAGE_MODE=
AWS_S3_BUCKET_NAME=
AWS_SQS_QUEUE_NAME=
