VITE_OCR_API_URL=http://localhost:8000
VITE_APP_GUIDE_URL=https://leapx-marketplace-cf-template.s3.us-east-1.amazonaws.com/Leapfrog+DocWeaver+User+Manual.pdf
VITE_ONBOARDING_GUIDE_URL=https://leapx-marketplace-cf-template.s3.us-east-1.amazonaws.com/Leapfrog+DocWeaver+Deployment+Guide.pdf
# VITE_OCR_API_URL=https://leapx.lika.gaurabupreti.com.np