AZURE_OCR_ENDPOINT=
AZURE_OCR_API_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_TRACING_ENABLED=

AWS_REGION_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

OPENAI_API_KEY=

MODE="DEVELOPMENT"

LANGSMITH_API_KEY=
LANGSMITH_TRACING=
